body{
    font-family: "Leelawadee UI";
}
nav .navbar {
    height:75px!important;
}
nav a i {
    font-size: 1.4rem;
}
p,i{
    color: #444;
}
footer p{
    font-size: 0.9rem;
    font-weight: 300;
}

footer p > a {
    text-decoration: none;
    color: #444;
}

i{
    color:white;
}

nav a i{
    color:black!important;
}


