<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Simple CRUD Project{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-light bg-light"  style="height: 75px;">
    <a class="navbar-brand ms-5" href="#">
        <i class="fas fa-code"></i>
        <p class="pl-2 d-inline fw-bold">Simple CRUD Project</p>
    </a>
</nav>
{% block body %}{% endblock %}
<footer class="mt-5 p-3 text-center font-weight-normal text-muted">
    <p> Coded by <a href="https://github.com/fernandezjn">Jillian Noreen Fernandez</a> </p>
</footer>


{% block scripts %}
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>